# Run this code to get the dataset needed with the positions and the names.

### Functions

In [1]:
from bs4 import BeautifulSoup
import requests
from HTMLParser import HTMLParser
from datetime import datetime
import hashlib
import requests
import re

import numpy as np
import pandas as pd

class MLStripper(HTMLParser):
    def __init__(self):
        self.reset()
        self.strict = False
        self.convert_charrefs= True
        self.fed = []
    def handle_data(self, d):
        self.fed.append(d)
    def get_data(self):
        return ''.join(self.fed)

def strip_tags(html):
    s = MLStripper()
    s.feed(html)
    return s.get_data()


# In[58]:
from selenium import webdriver
import urllib2
import MySQLdb

# MAIN


### Read the NBA File you generated from the Appendix code below.

In [2]:
NBA_dataset = pd.read_csv("NBA_teamnamepos_data.csv", sep=",")
NBA_dataset.head()

  first_name        last_name                    names pos team
0    Giannis    Antetokounmpo    Giannis Antetokounmpo  PG  MIL
1     Jerryd          Bayless           Jerryd Bayless  SG  MIL
2    Michael  Carter-Williams  Michael Carter-Williams  PG  MIL
3      Chris         Copeland           Chris Copeland  PF  MIL
4      Jared       Cunningham         Jared Cunningham  SG  MIL

## Go to the ESPN site and get the data you want, which is the RPM info.

In [ ]:
#initialize data frame
RPM_data = pd.DataFrame(columns=('names', 'GP','MPG', 'ORPM', 'DRPM', 'RPM', 'WINS'))

print str(datetime.now())
for j in range(0, 12):
    
    url = "http://www.espn.com/nba/statistics/rpm/_/year/2016/page/" + str(j) + "/sort/RPM"

    print url
    
    r1 = urllib2.urlopen(url)
    soup = BeautifulSoup(r1, 'html.parser')


    #get the even columns
    evens = soup.findAll('tr', {'class':'evenrow'})

    for i in range(0, len(evens)):
        name = evens[i].a.text
        name

        team = evens[i].find("td").find_next_sibling("td").find_next_sibling("td")
        team.text

        games_played = team.find_next_sibling("td")
        games_played.text

        mins_per_game = games_played.find_next_sibling("td")
        mins_per_game.text

        ORPM = mins_per_game.find_next_sibling("td")
        ORPM.text

        DRPM = ORPM.find_next_sibling("td")
        DRPM.text

        RPM = DRPM.find_next_sibling("td")
        RPM.text

        wins = RPM.find_next_sibling("td")
        wins.text

        record = [name, games_played.text, mins_per_game.text, ORPM.text, DRPM.text, RPM.text, wins.text]

        temp_df = pd.DataFrame([record],columns=('names', 'GP','MPG', 'ORPM', 'DRPM', 'RPM', 'WINS'))
        frames = [RPM_data, temp_df]
        RPM_data = pd.concat(frames, ignore_index = True)


    #get the odd columns
    odds = soup.findAll('tr', {'class':'oddrow'})

    for i in range(0, len(odds)):
        name = odds[i].a.text
        name

        team = odds[i].find("td").find_next_sibling("td").find_next_sibling("td")
        team.text

        games_played = team.find_next_sibling("td")
        games_played.text

        mins_per_game = games_played.find_next_sibling("td")
        mins_per_game.text

        ORPM = mins_per_game.find_next_sibling("td")
        ORPM.text

        DRPM = ORPM.find_next_sibling("td")
        DRPM.text

        RPM = DRPM.find_next_sibling("td")
        RPM.text

        wins = RPM.find_next_sibling("td")
        wins.text

        record = [name, games_played.text, mins_per_game.text, ORPM.text, DRPM.text, RPM.text, wins.text]

        temp_df = pd.DataFrame([record],columns=('names', 'GP','MPG', 'ORPM', 'DRPM', 'RPM', 'WINS'))
        frames = [RPM_data, temp_df]
        RPM_data = pd.concat(frames, ignore_index = True)

        #concatenate the odds and evens
    print len(RPM_data)
print str(datetime.now())

2018-03-08 14:30:05.518000
http://www.espn.com/nba/statistics/rpm/_/year/2016/page/0/sort/RPM
40
http://www.espn.com/nba/statistics/rpm/_/year/2016/page/1/sort/RPM
80
http://www.espn.com/nba/statistics/rpm/_/year/2016/page/2/sort/RPM
120
http://www.espn.com/nba/statistics/rpm/_/year/2016/page/3/sort/RPM
160
http://www.espn.com/nba/statistics/rpm/_/year/2016/page/4/sort/RPM
200
http://www.espn.com/nba/statistics/rpm/_/year/2016/page/5/sort/RPM
240
http://www.espn.com/nba/statistics/rpm/_/year/2016/page/6/sort/RPM

In [145]:
print len(RPM_data)
RPM_dataset = RPM_data.drop_duplicates(keep='first')
print len(RPM_dataset)

463
423

In [146]:
print len(NBA_dataset)

528

In [178]:
merged_data = pd.merge(NBA_dataset, RPM_dataset, how = 'left', on='names')
len(merged_data)

528

In [159]:
# save to a csv file 
merged_data.to_csv("NBA Dataset with RPM.csv", sep=',')

In [182]:
merged_data.head()

,Unnamed: 0,first_name,last_name,names,pos,team,tm,GP,MPG,ORPM,DRPM,RPM,WINS
0,0,Giannis,Antetokounmpo,Giannis Antetokounmpo,PG,MIL,MIL,80,35.3,0.84,0.27,1.11,7.46
1,1,Jerryd,Bayless,Jerryd Bayless,SG,MIL,MIL,52,28.9,0.21,-2.34,-2.13,0.92
2,2,Michael,Carter-Williams,Michael Carter-Williams,PG,MIL,MIL,54,30.5,-1.73,0.37,-1.36,1.82
3,3,Chris,Copeland,Chris Copeland,PF,MIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Jared,Cunningham,Jared Cunningham,SG,MIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN